# Python / Django
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Virtual environment
venv/
venv2/
env/

# Environment variables
.env

# Database
db.sqlite3

# Uploaded files and media
media/
person_photos/
kyc_documents/

# Migrations cache (optional)
/**/__pycache__/
